html {
    box-sizing: border-box;
    font-size: 18px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

ul {
    list-style: none;
}

main {
    margin-top: 250px;
}

form {
    margin-top: 50px;
}